body {
    background-color: gray;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#USS_Ship{grid-area: main;
}
#enemy1{grid-area: topleft;
}
#enemy2{grid-area: topmid;
}
#enemy3{grid-area: topright;
}
#enemy4{grid-area: botleft;
}
#enemy5{grid-area: botmid;
}
#enemy6{grid-area: botright;
}
#you-stat-contain{
    grid-area: stat1;
}
#they-stat-contain{
    grid-area: stat2;
}
#gamestate{
    grid-area: gamestate;
}
#grid-contain{
    display: grid;
    grid-template-areas:
    'main topleft topmid topright'
    'main botleft botmid botright'
    'stat1 stat2 gamestate x';
    gap:5px;
}
.hidden {
    display:none;
}
button{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    grid-area: button;
}